.mainAboutMeDiv {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  justify-content: center;
  margin-top: 200px;
}
.about-01 {
  font-size: 20px;
  color: #64ffda;
  font-weight: 400;
}

.aboutMe {
  font-size: 32px;
  color: #ccd6f6;
  font-weight: 600;
  margin-left: 10px;
}
.aboutMeLine {
  width: 300px;
  height: 1px;
  background-color: #233554;
  margin-top: 20px;
  margin-left: 20px;
}

.pictureSideMainDiv {
  display: flex;
  flex-direction: row;
  max-width: 1010px;
  margin: 0 auto;
}

.leftText {
  font-size: 20px;
  color: #8892b0;
  padding-right: 100px;
}

.imgDiv {
  width: 960px;
  height: 300px;
  border: 2px solid #64ffda;
  border-radius: 8px;
  position: relative;
  margin-top: 45px;
}
.me {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  right: 20px;
  z-index: 10;
  bottom: 20px;
}
.mainToolsDiv {
  display: flex;
  flex-direction: row;
}
ul {
  list-style-type: none;
}
.mainToolsDiv ul {
  display: flex;
  flex-direction: column;
}

.mainToolsDiv ul li {
  font-size: 13px;
  color: #8892b0;
  margin: 0px 0px 10px;
}
.skillIcon {
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .mainAboutMeDiv {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: center;
    margin-top: 200px;
  }
  .about-01 {
    font-size: 20px;
  }

  .aboutMe {
    margin-left: 10px;
  }
  .aboutMeLine {
    max-width: 100px;

    margin-top: 20px;
    margin-left: 20px;
  }

  .pictureSideMainDiv {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }

  .leftText {
    padding-right: 10px;
    margin-left: 20px;
  }

  .imgDiv {
    max-width: 300px;
    height: 300px;

    margin-top: 45px;
    left: 45px;
  }
  .me {
    max-width: 300px;

    position: absolute;
    right: 20px;
    z-index: 10;
    bottom: 20px;
  }
  .mainToolsDiv {
    display: flex;
    flex-direction: row;
  }

  .mainToolsDiv ul {
    display: flex;
    flex-direction: column;
  }

  .mainToolsDiv ul li {
    margin: 0px 0px 10px;
  }
  .skillIcon {
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pictureSideMainDiv {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
  }

  .leftText {
    font-size: 17px;
    padding: 0px 90px;
  }

  .imgDiv {
    width: 1000px;
    height: 250px;

    right: 45px;
  }
  .me {
    width: 250px;
    height: 250px;
  }
  .mainToolsDiv {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
  }

  .mainToolsDiv ul {
    display: flex;
    flex-direction: column;
  }

  .mainToolsDiv ul li {
    font-size: 13px;
    color: #8892b0;
    margin: 0px 0px 10px;
  }
  .skillIcon {
    margin-right: 10px;
  }
}
