.mainFixedDiv {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
}
.leftSideFixed {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  bottom: 0px;
}

.fixedLine {
  width: 1px;
  height: 100px;
  background-color: #a8b2d1;
  margin-left: 10px;
}

.fb,
.wp,
.instagram,
.ghb,
.lnkdn {
  font-size: 20px;
  color: #a8b2d1;
  margin-bottom: 30px;
  cursor: pointer;
}

.mainRightSide {
  position: absolute;
  right: 60px;
}

.rightSideFixed {
  position: fixed;
  bottom: 0px;
}
.fixedLine2 {
  width: 1px;
  height: 100px;
  background-color: #a8b2d1;
}
.reversedText {
  font-size: 12px;
  writing-mode: vertical-rl;
  color: #a8b2d1;
  position: absolute;
  bottom: 130px;
  left: -20px;
  letter-spacing: 3px;
  cursor: pointer;
}

.reversedText:hover {
  color: #64ffda;
}

@media screen and (max-width: 600px) {
  .mainFixedDiv {
    position: relative;
  }
  .leftSideFixed {
    flex-direction: row;
    position: absolute;
    bottom: 70px;
    margin-left: 30px;
  }
  .fb,
  .wp,
  .instagram,
  .ghb,
  .lnkdn {
    font-size: 25px;
    margin-left: 30px;
  }
  .fixedLine {
    display: none;
  }

  .rightSideFixed {
    display: none;
  }
}
