.mainDiv {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
}
.workTitleDiv {
  display: flex;
  justify-content: center;
}
.work-02 {
  font-size: 20px;
  color: #64ffda;
  font-weight: 400;
  margin-top: 10px;
}
.whereWorked {
  font-size: 32px;
  color: #ccd6f6;
  font-weight: 600;
  margin-left: 10px;
}
.mainWorkDiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.leftSideBtn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: 180px;
}
.btn {
  width: 100px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.leftSideBtn button {
  background-color: #0a192f;
  border: none;
  color: #8892b0;
  cursor: pointer;
}
.leftSideBtn button:hover {
  color: white;
}
.leftSideBtn button:focus {
  color: white;
}
.arrow {
  color: white;
}

.workExperience {
  font-size: 16px;
  color: #8892b0;
  padding-right: 100px;
}

@media screen and (max-width: 600px) {
  .mainDiv {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }
  .workTitleDiv {
    display: flex;
    justify-content: center;
  }
  .work-02 {
    font-size: 20px;
    color: #64ffda;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 30px;
  }
  .whereWorked {
    font-size: 22px;
    color: #ccd6f6;
    font-weight: 900;
    margin-left: 10px;
  }
  .mainWorkDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
  }
  .leftSideBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    margin-left: 30px;
  }
  .leftSideBtn button {
    font-size: 21px;
  }
  .btn {
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
  }

  .workExperience {
    padding: 0px 20px;
  }
}
